@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.content .carimages {
    position: absolute;
    top: 18.4vw;
    left: 36.25vw;
    width: 62.5vw;
    height: 21.25vw;
}

.content .texts {
    font-family: 'Plus Jakarta Sans';

}

.content .texts .first {
    position: absolute;
    font-weight: 500;
    font-size: 0.97vw;
    line-height: 1.18vw;
    top: 17.22vw;
    left: 4.44vw;
    color: #FFFFFF;
}

.content .texts h2 {
    font-weight: 800;
    font-size: 2.5vw;
    line-height: 3.03vw;
    width: 33.8vw;
    height: 9.17vw;
    top:20.35vw;
    left: 4.44vw;
    position: absolute;
    color: #FFFFFF;
}

.content .texts .second {
    font-weight: 500;
    font-size: 1.11vw;
    line-height: 1.78vw;
    letter-spacing: -2%;
    position: absolute;
    opacity: 45%;
    width: 31.81vw;
    height: 5.42vw;
    top:30.83vw;
    left: 4.44vw;
}

.reserveButtons{
    top:40vw;
    position: absolute;
    left: 4.44vw;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.11vw;
    line-height: 1.67vw;
    display: flex;
    gap:2.3vw;
    margin: 0;
    padding: 0;
    color: white;
}

.reserveButtons .reserveButton{

    width: 10.42vw;
    height: 3.05vw;
    color: #1A202C;
    border-radius: 0.28vw;
    border: 0;
    font-size: 1.11vw;
    font-weight: 600;

}

.reserveButtons .reserveButton:hover{
    opacity: 0.8;
    transition:  opacity 0.2s;
}


.reserveButtons .showAllCars{
 padding-top: 0.7vw;
 font-weight: 600;

}


.reserveButtons .showAllCars:hover{
    color: rgb(0, 255, 255,1);
    transition: ease-in-out color 1s;
}