@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


.main {
    font-family: 'Plus Jakarta Sans';
    margin-bottom: 100px;
}

.carType {
    color: #1A202C;
    margin: 0 auto;
    margin-top: 3.47vw;
    width: 91.1vw;
    height: 4.72vw;
    display: flex;
    font-weight: 500;
    font-size: 1.53vw;
    line-height: 2.3vw;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.1vw #90A3BF solid;
}

.carType p {
    opacity: 60%;

}

.carType p:hover {
    opacity: 1;
}

.carsList {
    width: 91.1vw;
    height: auto;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    gap: 2.19vw;
    justify-content: flex-start;
}

.carsList .car {
    width: 21.1vw;
    height: 27vw;
    font-weight: 700;
    padding: 1.67vw;
    border: .03vw #D9D9D9 solid;
    margin-top: 2.8vw;
    border-radius: 0.7vw;
    background-color: #F9F9F9;
    box-sizing: border-box;

}

.cars .car .type {
    color: #AAACAF;
    font-size: 0.9vw;
    line-height: 1.35vw;
}


.cars .car .nameAndFav {
    display: flex;
    justify-content: space-between;
    gap: 11.8vw;
}

.cars .car .nameAndFav .name {
    font-size: 1.4vw;
    line-height: 2vw;
}


.cars .car .nameAndFav .fav {
    width: 1.67vw;
    height: 1.67vw;
    stroke: black;
}

.cars .car .nameAndFav .fav:hover {
    fill: red;
    stroke: red;
    transition: ease-in-out fill 0.3s, stroke 0.2s;
}

.cars .car .carimage {
    width: 16.5vw;
    height: 7.5vw;
    padding-top: 4.72vw;
}

.cars .car .priceAndReserve {
    display: flex;
    gap: 2.43vw;
    justify-content: space-between;
    padding-top: 5vw;
}

.priceAndReserve .price {
    font-size: 1.4vw;
    line-height: 1.75vw;

}

.priceAndReserve .price .currency {
    font-size: 0.7vw;
    font-weight: 700;
    line-height: 0.875vw;
}

.priceAndReserve .price .interval {
    font-size: 0.97vw;
    font-weight: 700;
    line-height: 1.225vw;
}

.priceAndReserve .reserveButton {
    width: 8vw;
    height: 3vw;
    background-color: #528C8C;
    color: white;
    border-radius: .28vw;
    border: 0;
    font-size: 1.11vw;
    line-height: 1.67vw;
    font-weight: 600;
}

.priceAndReserve .reserveButton:hover {
    opacity: 0.6;
}

.cars .showMore {
    width: 10.83vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: 0.07vw solid #E3E1E1;
    background-color: white;
    border-radius: 0.28vw;
    margin-top: 3.75vw;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.67vw;
    padding: 30px;
}

.cars .showMore:hover {
    border-color: #528C8C;
}
.car a{
   text-decoration: none; 
   color: inherit;  
}
.cars a{
    text-decoration: none;
}